@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Base de datos Extr<Strong>ano</Strong>rmal </h1>
    <p><Strong>ID: </Strong> <input type="tel" name="id" autocomplete="off"
         placeholder="1"> </p>
    <p><Strong>Nombre: </Strong> <input type="text" name="nombre" autocomplete="off"
         placeholder="Aquiles"> </p>
    <p><Strong>Apellido: </Strong> <input type="text" name="nombre" autocomplete="off"
         placeholder="Esquivel Madrazo"> </p>
         <input type="button" value="Enviar">
</div>